<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span style="padding-left: 10px; width:200px">Cards Against Humanity</span>
    <div class="tcontainer">
        <div class="ticker-wrap">
            <div class="ticker-move">
                <div class="ticker-item">"Hilarious." -INC</div>
                <div class="ticker-item"> "Hysterical." -Time</div>
                <div class="ticker-item">"Uproarious." -Polygon</div>
                <div class="ticker-item">"Funny." -Boing</div>
                <div class="ticker-item">"Edgy." -LA Weekly</div>
                <div class="ticker-item">"Absurd." -The Chicago</div>
                <div class="ticker-item">"Snarky." -Adweek</div>
                <div class="ticker-item">"Unforgivable." -The Economist</div>
                <div class="ticker-item">"Bad." -NPR</div>
                <div class="ticker-item">"Horrible" -Wired</div>
                <div class="ticker-item">"Stupid." -Bloomberg</div>
            </div>
        </div>
    </div>
</div>