<!-- <div class="cah-card">
  Cards<br>
  Against<br>
  Humanity<br>
  <p> A party game<br>
    for horrible people.</p>
</div> -->

<div class="cah-card">
    What is Cards Against Humanity?<br>
    <p> Cards Against Humanity is a party game for horrible people. Unlike most of the party games you've played before,
        Cards
        Against Humanity is as despicable and awkward as you and your friends.<br><br>

        The game is simple. Each round, one player asks a question from a black card, and everyone else answers with
        their
        funniest white card.</p>
</div>

<div style="position:absolute; top:60%; left:45%">
    <a href="#">
        <img src="https://community.adobe.com/t5/image/serverpage/image-id/45229i4C951E379A470D7E/image-size/large?v=v2&px=999"
            alt="play button" width="140" height="144">
    </a>
</div>

<p class="btn-position">
    <a href="https://store.cardsagainsthumanity.com" target="_blank" class="btn btn-gold"
        style="margin-right: 150px;">Buy
        now on the CAH
        Store</a>
    <a href="https://cardsagainsthumanity.com/#download" target="_blank" class="btn" data-scrollto="">Download for
        Free</a>
</p>